@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

// Sass variables
$font: "Roboto", sans-serif;
$color-fiord: #394263;
$color-white: #fff;
$color-athens-gray: #eaedf1;
$color-catskill-white: #f9fafc;
$color-abbey: #777;
$color-mischka: #dadae3;
$color-java: #1bbae1;
$color-mine-shaft: #333;
$color-zest: #e67e22;
$color-jungle-green: #27ae60;
$color-cinnabar: #e74c3c;
$color-amethyst: #af64cc;
$color-transparent: rgba(255, 255, 255, 0.5);
$color-alto: #d3d3d3;

$height-header: 90px;
$height-footer: 50px;
$width-sidenav: 240px;

// Resets
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
